USE [master]
GO
/****** Object:  Database [gerencia]    Script Date: 17/05/2023 09:29:53 ******/
CREATE DATABASE [gerencia]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'gerencia', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\gerencia.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'gerencia_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\gerencia_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [gerencia].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [gerencia]
GO
/****** Object:  Table [dbo].[Entrada]    Script Date: 17/05/2023 09:29:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entrada](
	[EntradaId] [int] IDENTITY(1,1) NOT NULL,
	[Quantidade] [int] NOT NULL,
	[Data] [datetime] NOT NULL,
	[Local] [varchar](100) NOT NULL,
	[MercadoriaId] [int] NOT NULL,
 CONSTRAINT [PK_Entrada] PRIMARY KEY CLUSTERED 
(
	[EntradaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mercadoria]    Script Date: 17/05/2023 09:29:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mercadoria](
	[MercadoriaId] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[NumeroRegistro] [varchar](50) NOT NULL,
	[Fabricante] [varchar](100) NOT NULL,
	[TipoId] [int] NOT NULL,
	[Descricao] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Mercadoria] PRIMARY KEY CLUSTERED 
(
	[MercadoriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Saida]    Script Date: 17/05/2023 09:29:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Saida](
	[SaidaId] [int] IDENTITY(1,1) NOT NULL,
	[Quantidade] [int] NOT NULL,
	[Data] [datetime] NOT NULL,
	[Local] [varchar](100) NOT NULL,
	[MercadoriaId] [int] NOT NULL,
 CONSTRAINT [PK_Saida] PRIMARY KEY CLUSTERED 
(
	[SaidaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo]    Script Date: 17/05/2023 09:29:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo](
	[TipoId] [int] IDENTITY(1,1) NOT NULL,
	[TipoNome] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Tipo] PRIMARY KEY CLUSTERED 
(
	[TipoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Entrada]  WITH CHECK ADD  CONSTRAINT [FK_Entrada_Mercadoria] FOREIGN KEY([MercadoriaId])
REFERENCES [dbo].[Mercadoria] ([MercadoriaId])
GO
ALTER TABLE [dbo].[Entrada] CHECK CONSTRAINT [FK_Entrada_Mercadoria]
GO
ALTER TABLE [dbo].[Mercadoria]  WITH CHECK ADD  CONSTRAINT [FK_Mercadoria_Tipo] FOREIGN KEY([TipoId])
REFERENCES [dbo].[Tipo] ([TipoId])
GO
ALTER TABLE [dbo].[Mercadoria] CHECK CONSTRAINT [FK_Mercadoria_Tipo]
GO
ALTER TABLE [dbo].[Saida]  WITH CHECK ADD  CONSTRAINT [FK_Saida_Mercadoria] FOREIGN KEY([MercadoriaId])
REFERENCES [dbo].[Mercadoria] ([MercadoriaId])
GO
ALTER TABLE [dbo].[Saida] CHECK CONSTRAINT [FK_Saida_Mercadoria]
GO
USE [master]
GO

USE [gerencia]
GO

INSERT INTO [dbo].[Tipo] ([TipoNome])
VALUES ('Eletronicos'), ('Vestuario'), ('Moveis'), ('Alimentos')
GO