@model gerenciamento_mercadoria.Models.RelatorioViewModel

@{
    ViewBag.Title = "Index";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<link href="~/Content/bootstrap.css" rel="stylesheet" />

@using (Html.BeginForm("GerarRelatorio", "Relatorio", FormMethod.Post))
{
    <div class="container d-flex flex-column" style="width:90%;margin-top:2%">
        <h2 class="text-center">Relatório de Entradas e Saídas</h2>

        <div class="mx-auto">
            @Html.DropDownListFor(model => model.Value, (IEnumerable<SelectListItem>)ViewBag.Meses, "Selecione um Mês", new { @class = "form-control text-center" })
        </div>
        <div class="mx-auto">
            <button type="submit" class="btn btn-primary">Gerar Relatório</button>
        </div>
    </div>
}